<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Clouds-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,608},{536,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,298}}</string>
                <key>sourceSize</key>
                <string>{536,298}</string>
            </dict>
            <key>Clouds-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,165},{299,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,169}}</string>
                <key>sourceSize</key>
                <string>{299,169}</string>
            </dict>
            <key>PlayMenuLogo-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{352,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,292}}</string>
                <key>sourceSize</key>
                <string>{352,292}</string>
            </dict>
            <key>PlayMenuLogo-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,0},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>PlayMenuLogo-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,336},{445,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,203}}</string>
                <key>sourceSize</key>
                <string>{445,203}</string>
            </dict>
            <key>PlayMenuLogo-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,165},{377,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,158}}</string>
                <key>sourceSize</key>
                <string>{377,158}</string>
            </dict>
            <key>PlayMenuLogo-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,165},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>PlayMenuLogo-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,0},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>PlayMenuLogo-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,0},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>PlayMenuLogo-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>PlayMenuLogo-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,0},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>PlayMenuLogo-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>PlayMenuLogo-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SpineChefPanda-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,608},{236,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,323}}</string>
                <key>sourceSize</key>
                <string>{236,323}</string>
            </dict>
            <key>SpineChefPanda-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,61},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>SpineChefPanda-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,61},{95,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,64}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>SpineChefPanda-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,61},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>SpineChefPanda-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,61},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>SpineChefPanda-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,61},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>SpineChefPanda-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>SpineChefPanda-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,0},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,43}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>SpineChefPanda-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>SpineChefPanda-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,61},{95,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>SpineChefPanda-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,165},{196,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,122}}</string>
                <key>sourceSize</key>
                <string>{196,122}</string>
            </dict>
            <key>SpineChefPanda-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,336},{272,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,272}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>SpineChefPanda-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,61},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>SpineChefPanda-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,61},{119,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,87}}</string>
                <key>sourceSize</key>
                <string>{119,87}</string>
            </dict>
            <key>SpineChefPanda-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>SpineChefPanda-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>SpineChefPanda-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,61},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>SpineChefPanda-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>SpineChefPanda-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{173,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,109}}</string>
                <key>sourceSize</key>
                <string>{173,109}</string>
            </dict>
            <key>SpineChefPanda-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,61},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>SpineChefPanda-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,61},{46,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,79}}</string>
                <key>sourceSize</key>
                <string>{46,79}</string>
            </dict>
            <key>SpineChefPanda-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,0},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>SpineChefPanda-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,0},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>SpineChefPanda-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>SpineChefPanda-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,61},{127,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,104}}</string>
                <key>sourceSize</key>
                <string>{127,104}</string>
            </dict>
            <key>SpineWaffleGingy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,336},{230,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>SpineWaffleGingy-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,61},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>SpineWaffleGingy-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,0},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>SpineWaffleGingy-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,165},{166,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,125}}</string>
                <key>sourceSize</key>
                <string>{166,125}</string>
            </dict>
            <key>SpineWaffleGingy-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,0},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>SpineWaffleGingy-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,0},{168,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,61}}</string>
                <key>sourceSize</key>
                <string>{168,61}</string>
            </dict>
            <key>SpineWaffleGingy-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>SpineWaffleGingy-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,0},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>SpineWaffleGingy-161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,0},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>SpineWaffleGingy-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,61},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>SpineWaffleGingy-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>SpineWaffleGingy-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,0},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>SpineWaffleGingy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,336},{140,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,238}}</string>
                <key>sourceSize</key>
                <string>{140,238}</string>
            </dict>
            <key>SpineWaffleGingy-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,165},{83,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,160}}</string>
                <key>sourceSize</key>
                <string>{83,160}</string>
            </dict>
            <key>SpineWaffleGingy-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,165},{96,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,155}}</string>
                <key>sourceSize</key>
                <string>{96,155}</string>
            </dict>
            <key>SpineWaffleGingy-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,165},{92,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,163}}</string>
                <key>sourceSize</key>
                <string>{92,163}</string>
            </dict>
            <key>SpineWaffleGingy-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,165},{95,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,159}}</string>
                <key>sourceSize</key>
                <string>{95,159}</string>
            </dict>
            <key>SpineWaffleGingy-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,165},{99,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,169}}</string>
                <key>sourceSize</key>
                <string>{99,169}</string>
            </dict>
            <key>SpineWaffleGingy-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,165},{87,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,171}}</string>
                <key>sourceSize</key>
                <string>{87,171}</string>
            </dict>
            <key>SpineWaffleGingy-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,336},{85,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,190}}</string>
                <key>sourceSize</key>
                <string>{85,190}</string>
            </dict>
            <key>SpineWaffleGingy-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,336},{89,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,191}}</string>
                <key>sourceSize</key>
                <string>{89,191}</string>
            </dict>
            <key>SpineWaffleGingy-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,336},{66,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,210}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>SpineWaffleGingy-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,336},{65,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,204}}</string>
                <key>sourceSize</key>
                <string>{65,204}</string>
            </dict>
            <key>SpineWaffleGingy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,336},{141,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,243}}</string>
                <key>sourceSize</key>
                <string>{141,243}</string>
            </dict>
            <key>SpineWaffleGingy-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,336},{81,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,216}}</string>
                <key>sourceSize</key>
                <string>{81,216}</string>
            </dict>
            <key>SpineWaffleGingy-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,21}}</string>
                <key>sourceSize</key>
                <string>{74,21}</string>
            </dict>
            <key>SpineWaffleGingy-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>SpineWaffleGingy-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>SpineWaffleGingy-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>SpineWaffleGingy-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,0},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>SpineWaffleGingy-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,0},{118,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,51}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
            <key>SpineWaffleGingy-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,61},{203,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,69}}</string>
                <key>sourceSize</key>
                <string>{203,69}</string>
            </dict>
            <key>SpineWaffleGingy-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,61},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>SpineWaffleGingy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,336},{91,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,229}}</string>
                <key>sourceSize</key>
                <string>{91,229}</string>
            </dict>
            <key>SpineWaffleGingy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,336},{90,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,229}}</string>
                <key>sourceSize</key>
                <string>{90,229}</string>
            </dict>
            <key>SpineWaffleGingy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>SpineWaffleGingy-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>SpineWaffleGingy-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>SpineWaffleGingy-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,0},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>bee_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,61},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bee_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,61},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bee_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,61},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bee_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,61},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>start_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,608},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{2008,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16eeade20beb34c708ec4cef59f619f1:d6bb5fc69c2b0c154c61201694f580fc:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
