<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{617,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,114}}</string>
                <key>sourceSize</key>
                <string>{617,114}</string>
            </dict>
            <key>banner_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>banner_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>banner_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>banner_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,94},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>banner_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>banner_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,0},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>banner_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>banner_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,94},{144,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,108}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,94},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>banner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>banner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,0},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>banner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>banner_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{169,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,30}}</string>
                <key>sourceSize</key>
                <string>{169,30}</string>
            </dict>
            <key>banner_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{169,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,30}}</string>
                <key>sourceSize</key>
                <string>{169,30}</string>
            </dict>
            <key>banner_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,94},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>banner_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,94},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baner.png</string>
            <key>size</key>
            <string>{799,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97cd7c7b14d5ca0607c06b87e9e14140:6075d57c12b962a963258137aea7cb5d:3b27b259bdea58a27fec40e80aab81a7$</string>
            <key>textureFileName</key>
            <string>baner.png</string>
        </dict>
    </dict>
</plist>
