<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>bee_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bee.png</string>
            <key>size</key>
            <string>{710,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ebd1cfca5f54c2a935969951ba0abeb:81f1b74162a4a267d6217019f8717cf3:945f294eb8780b1275d93cffc1d6634a$</string>
            <key>textureFileName</key>
            <string>bee.png</string>
        </dict>
    </dict>
</plist>
