<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpineRevealablePopsicleSquare_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>SpineRevealablePopsicleSquare_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>SpineRevealablePopsicleSquare_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>SpineRevealablePopsicleSquare_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,141},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>SpineRevealablePopsicleSquare_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,141},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spineRevealablePopsicleSquare.png</string>
            <key>size</key>
            <string>{208,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a893372ba26adeda920e489ac57473a9:2f810f0d9cb9399d1780963dab2cda15:65de9a3a5d0c99cac69922486cfe9dd4$</string>
            <key>textureFileName</key>
            <string>spineRevealablePopsicleSquare.png</string>
        </dict>
    </dict>
</plist>
