<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpinePatherIceCream_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>SpinePatherIceCream_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>SpinePatherIceCream_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>SpinePatherIceCream_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,11}}</string>
                <key>sourceSize</key>
                <string>{32,11}</string>
            </dict>
            <key>SpinePatherIceCream_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,24},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>SpinePatherIceCream_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>SpinePatherIceCream_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>SpinePatherIceCream_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>SpinePatherIceCream_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>SpinePatherIceCream_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,54},{128,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>SpinePatherIceCream_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,54},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>SpinePatherIceCream_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{145,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,92}}</string>
                <key>sourceSize</key>
                <string>{145,92}</string>
            </dict>
            <key>SpinePatherIceCream_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>SpinePatherIceCream_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,24},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>SpinePatherIceCream_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,24},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>SpinePatherIceCream_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,112},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>SpinePatherIceCream_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,24},{70,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,25}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>SpinePatherIceCream_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,24},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>SpinePatherIceCream_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpinePatherIceCream.png</string>
            <key>size</key>
            <string>{233,367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90127e8009c83ac35525cd863f58041c:b70e463d9fed4a4f1baff02d2e0005ed:67d3145ab69e9647b1af00415449487c$</string>
            <key>textureFileName</key>
            <string>SpinePatherIceCream.png</string>
        </dict>
    </dict>
</plist>
