<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpineHopplerSmores_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,63},{144,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,131}}</string>
                <key>sourceSize</key>
                <string>{144,131}</string>
            </dict>
            <key>SpineHopplerSmores_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{42,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{42,15}</string>
            </dict>
            <key>SpineHopplerSmores_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,21},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>SpineHopplerSmores_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>SpineHopplerSmores_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,21},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>SpineHopplerSmores_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,21},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>SpineHopplerSmores_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,21},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>SpineHopplerSmores_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>SpineHopplerSmores_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,21},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>SpineHopplerSmores_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>SpineHopplerSmores_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,21},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>SpineHopplerSmores_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>SpineHopplerSmores_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>SpineHopplerSmores_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SpineHopplerSmores_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpineHopplerSmores.png</string>
            <key>size</key>
            <string>{247,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f1e1da98b60407ced18ab222567f62c:6fe5d01f3bba2a7a78583c8c561548c5:e0870a07e10ee70a5d390628c89d0a4b$</string>
            <key>textureFileName</key>
            <string>SpineHopplerSmores.png</string>
        </dict>
    </dict>
</plist>
