<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpineHiderWormHud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>SpineHiderWormHud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>SpineHiderWormHud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,40},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SpineHiderWormHud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,40},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>SpineHiderWormHud_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,18},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>SpineHiderWormHud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,80},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>SpineHiderWormHud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,40},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>SpineHiderWormHud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,7}</string>
            </dict>
            <key>SpineHiderWormHud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>SpineHiderWormHud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>SpineHiderWormHud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>SpineHiderWormHud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{24,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,11}}</string>
                <key>sourceSize</key>
                <string>{24,11}</string>
            </dict>
            <key>SpineHiderWormHud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>SpineHiderWormHud_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,80},{143,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,135}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
            <key>SpineHiderWormHud_cheek.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,40},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,18},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,18},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,18},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,40},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>SpineHiderWormHud_cheek_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>SpineHiderWormHud_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SpineHiderWormHud_ribon.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,40},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>SpineHiderWormHud_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,18},{69,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,18}}</string>
                <key>sourceSize</key>
                <string>{69,18}</string>
            </dict>
            <key>SpineHiderWormHud_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,18},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpineHiderWormHud.png</string>
            <key>size</key>
            <string>{232,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f5cfeac1dd0aeec7e46fd2c6b59baea:b1da056f4ed84d46ea8497fcdc01e587:8d792c8dc688c91e9e6298a49dce0790$</string>
            <key>textureFileName</key>
            <string>SpineHiderWormHud.png</string>
        </dict>
    </dict>
</plist>
