<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpineTopplerScoop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{134,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{134,122}</string>
            </dict>
            <key>SpineTopplerScoop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>SpineTopplerScoop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,32},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>SpineTopplerScoop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,32},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>SpineTopplerScoop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,32},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>SpineTopplerScoop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,69},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>SpineTopplerScoop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,69},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>SpineTopplerScoop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,0},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>SpineTopplerScoop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>SpineTopplerScoop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>SpineTopplerScoop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>SpineTopplerScoop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{134,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,69}}</string>
                <key>sourceSize</key>
                <string>{134,69}</string>
            </dict>
            <key>SpineTopplerScoop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{57,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,14}}</string>
                <key>sourceSize</key>
                <string>{57,14}</string>
            </dict>
            <key>SpineTopplerScoop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{152,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,119}}</string>
                <key>sourceSize</key>
                <string>{152,119}</string>
            </dict>
            <key>SpineTopplerScoop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{171,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,122}}</string>
                <key>sourceSize</key>
                <string>{171,122}</string>
            </dict>
            <key>SpineTopplerScoop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,121},{129,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{129,60}</string>
            </dict>
            <key>SpineTopplerScoop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,69},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>SpineTopplerScoop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,69},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>SpineTopplerScoop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>SpineTopplerScoop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,121},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>SpineTopplerScoop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>SpineTopplerScoop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,32},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpineTopplerScoop.png</string>
            <key>size</key>
            <string>{244,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3feab3f6a62ffdce2e4ac1b6fd2528d0:72efa747404dfbe491a9b18d7ac58de0:cd7f9dfd40db4b1216752e12bffe94f9$</string>
            <key>textureFileName</key>
            <string>SpineTopplerScoop.png</string>
        </dict>
    </dict>
</plist>
