<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waffle_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,253}}</string>
                <key>sourceSize</key>
                <string>{226,253}</string>
            </dict>
            <key>waffle_eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>waffle_eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,253},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>waffle_eye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,253},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>waffle_eye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,253},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>waffle_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{74,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,53}}</string>
                <key>sourceSize</key>
                <string>{74,53}</string>
            </dict>
            <key>waffle_t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,326},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>waffle_t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,326},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>waffle_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{92,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,19}}</string>
                <key>sourceSize</key>
                <string>{92,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waffle.png</string>
            <key>size</key>
            <string>{226,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5f204af4244c5539814372853f56ba1:f4db293ca6dcd65306efe975d4d0106d:d91509aaa319b7df726257f1b8bee872$</string>
            <key>textureFileName</key>
            <string>waffle.png</string>
        </dict>
    </dict>
</plist>
