<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookie_destruction_particle_1__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1005},{34,42}}</string>
                <key>offset</key>
                <string>{4,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,395},{34,42}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1871},{210,138}}</string>
                <key>offset</key>
                <string>{-36,202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,369},{210,138}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,987},{298,196}}</string>
                <key>offset</key>
                <string>{-39,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,400},{298,196}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1789},{330,234}}</string>
                <key>offset</key>
                <string>{-31,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,439},{330,234}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1489},{352,272}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,478},{352,272}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1581},{376,274}}</string>
                <key>offset</key>
                <string>{-18,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,553},{376,274}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1359},{396,276}}</string>
                <key>offset</key>
                <string>{-12,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,627},{396,276}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,939},{418,278}}</string>
                <key>offset</key>
                <string>{-6,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,701},{418,278}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,987},{438,286}}</string>
                <key>offset</key>
                <string>{-1,-272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,769},{438,286}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,939},{454,300}}</string>
                <key>offset</key>
                <string>{5,-344}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,834},{454,300}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,469},{468,312}}</string>
                <key>offset</key>
                <string>{10,-416}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,900},{468,312}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1005},{482,316}}</string>
                <key>offset</key>
                <string>{16,-482}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,964},{482,316}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,767},{498,218}}</string>
                <key>offset</key>
                <string>{22,-500}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,1031},{498,218}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,393},{530,168}}</string>
                <key>offset</key>
                <string>{19,-543}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,1099},{530,168}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1511},{520,110}}</string>
                <key>offset</key>
                <string>{-3,-565}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,1150},{520,110}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1123},{554,62}}</string>
                <key>offset</key>
                <string>{-4,-591}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,1200},{554,62}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_1__00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,393},{20,18}}</string>
                <key>offset</key>
                <string>{-289,-617}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1248},{20,18}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,939},{48,40}}</string>
                <key>offset</key>
                <string>{12,509}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,111},{48,40}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1},{120,84}}</string>
                <key>offset</key>
                <string>{3,542}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,56},{120,84}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1871},{208,166}}</string>
                <key>offset</key>
                <string>{5,554}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,3},{208,166}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1757},{260,190}}</string>
                <key>offset</key>
                <string>{8,518}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,27},{260,190}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1395},{294,184}}</string>
                <key>offset</key>
                <string>{5,464}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,84},{294,184}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1683},{328,186}}</string>
                <key>offset</key>
                <string>{6,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,150},{328,186}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1511},{358,186}}</string>
                <key>offset</key>
                <string>{6,330}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,217},{358,186}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1287},{394,200}}</string>
                <key>offset</key>
                <string>{4,254}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,286},{394,200}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1275},{434,234}}</string>
                <key>offset</key>
                <string>{1,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,357},{434,234}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1763},{472,268}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,426},{472,268}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,469},{510,296}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,499},{510,296}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,393},{544,328}}</string>
                <key>offset</key>
                <string>{3,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,571},{544,328}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,427},{576,360}}</string>
                <key>offset</key>
                <string>{4,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,641},{576,360}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{604,390}}</string>
                <key>offset</key>
                <string>{6,-266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,711},{604,390}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{636,424}}</string>
                <key>offset</key>
                <string>{6,-351}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,779},{636,424}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1123},{664,326}}</string>
                <key>offset</key>
                <string>{6,-372}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,849},{664,326}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,427},{694,350}}</string>
                <key>offset</key>
                <string>{4,-452}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,917},{694,350}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1},{672,296}}</string>
                <key>offset</key>
                <string>{24,-492}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,984},{672,296}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,299},{684,168}}</string>
                <key>offset</key>
                <string>{18,-506}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1062},{684,168}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_2__00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1005},{464,66}}</string>
                <key>offset</key>
                <string>{-103,-607}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1214},{464,66}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cookie_destruction_particle_1_2.png</string>
            <key>size</key>
            <string>{2040,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d249c069f1c16ac17ea191b2b50a2743:e7c42ea7e150753f359eabeb2b57efbd:d552fafc39f06f6738f2663cb4141951$</string>
            <key>textureFileName</key>
            <string>cookie_destruction_particle_1_2.png</string>
        </dict>
    </dict>
</plist>
