<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookie_destruction_particle_3__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1721},{144,92}}</string>
                <key>offset</key>
                <string>{0,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,512},{144,92}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1537},{320,182}}</string>
                <key>offset</key>
                <string>{-21,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,455},{320,182}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1597},{360,236}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,493},{360,236}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1835},{386,264}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,556},{386,264}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1835},{418,286}}</string>
                <key>offset</key>
                <string>{-13,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,624},{418,286}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1719},{442,310}}</string>
                <key>offset</key>
                <string>{-12,-207}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,692},{442,310}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1737},{466,334}}</string>
                <key>offset</key>
                <string>{-7,-286}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,759},{466,334}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1737},{484,366}}</string>
                <key>offset</key>
                <string>{-4,-362}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,819},{484,366}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,191},{502,402}}</string>
                <key>offset</key>
                <string>{-4,-438}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,877},{502,402}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1297},{528,324}}</string>
                <key>offset</key>
                <string>{-7,-460}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,938},{528,324}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,965},{548,246}}</string>
                <key>offset</key>
                <string>{-6,-481}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,998},{548,246}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1055},{536,224}}</string>
                <key>offset</key>
                <string>{-20,-528}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,1056},{536,224}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,595},{556,166}}</string>
                <key>offset</key>
                <string>{-13,-557}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,1114},{556,166}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1297},{300,102}}</string>
                <key>offset</key>
                <string>{47,-582}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,1171},{300,102}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cookie_destruction_particle_3__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,319},{26,26}}</string>
                <key>offset</key>
                <string>{-93,-603}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,1230},{26,26}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,431},{60,48}}</string>
                <key>offset</key>
                <string>{10,495}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,121},{60,48}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,337},{92,68}}</string>
                <key>offset</key>
                <string>{5,567}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,39},{92,68}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1309},{162,98}}</string>
                <key>offset</key>
                <string>{-3,591}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,0},{162,98}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1623},{210,102}}</string>
                <key>offset</key>
                <string>{-3,536}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,53},{210,102}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1623},{242,94}}</string>
                <key>offset</key>
                <string>{-1,478}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,115},{242,94}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1623},{270,92}}</string>
                <key>offset</key>
                <string>{2,420}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,174},{270,92}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,619},{294,104}}</string>
                <key>offset</key>
                <string>{5,364}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,224},{294,104}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1409},{324,126}}</string>
                <key>offset</key>
                <string>{5,304}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,273},{324,126}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2101},{358,146}}</string>
                <key>offset</key>
                <string>{3,243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,324},{358,146}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,915},{392,168}}</string>
                <key>offset</key>
                <string>{1,184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,372},{392,168}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1409},{430,186}}</string>
                <key>offset</key>
                <string>{-1,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,423},{430,186}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1727},{464,204}}</string>
                <key>offset</key>
                <string>{-3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,473},{464,204}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1517},{498,218}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,525},{498,218}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1281},{530,234}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,575},{530,234}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1047},{560,248}}</string>
                <key>offset</key>
                <string>{-5,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,627},{560,248}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{592,262}}</string>
                <key>offset</key>
                <string>{-5,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,678},{592,262}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,619},{622,278}}</string>
                <key>offset</key>
                <string>{-5,-226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,727},{622,278}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,319},{654,298}}</string>
                <key>offset</key>
                <string>{-6,-286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,777},{654,298}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{688,316}}</string>
                <key>offset</key>
                <string>{-8,-347}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,829},{688,316}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{710,334}}</string>
                <key>offset</key>
                <string>{-5,-407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,880},{710,334}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{626,350}}</string>
                <key>offset</key>
                <string>{47,-465}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,930},{626,350}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1},{522,188}}</string>
                <key>offset</key>
                <string>{-14,-434}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,980},{522,188}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1213},{542,194}}</string>
                <key>offset</key>
                <string>{-13,-488}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,1031},{542,194}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,763},{562,200}}</string>
                <key>offset</key>
                <string>{-12,-540}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1080},{562,200}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,899},{580,146}}</string>
                <key>offset</key>
                <string>{-10,-563}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1130},{580,146}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{598,100}}</string>
                <key>offset</key>
                <string>{-9,-590}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,1180},{598,100}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>ice_particle__00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,191},{20,24}}</string>
                <key>offset</key>
                <string>{-16,-602}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,1230},{20,24}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cookie_destruction_particle_3_ice.png</string>
            <key>size</key>
            <string>{1928,2254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2cf8edaa23a49d085b151e6a44bc2c9:18007c43fa258eafebff786a85786a66:ae9a226b944062fa3845ef4d41afe3a5$</string>
            <key>textureFileName</key>
            <string>cookie_destruction_particle_3_ice.png</string>
        </dict>
    </dict>
</plist>
