<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_1__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,647},{22,24}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,244},{22,24}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,309},{38,44}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,228},{38,44}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,673},{48,56}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{48,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,871},{64,84}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,209},{64,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,805},{108,116}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,198},{108,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,805},{108,126}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,195},{108,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,785},{156,142}}</string>
                <key>offset</key>
                <string>{42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,186},{156,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,673},{196,232}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,150},{196,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,371},{194,208}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,163},{194,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,581},{222,192}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,162},{222,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,603},{216,210}}</string>
                <key>offset</key>
                <string>{31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{216,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,569},{210,214}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,147},{210,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,733},{212,230}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,137},{212,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,733},{212,244}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,129},{212,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,307},{226,260}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,119},{226,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,325},{244,276}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,110},{244,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,343},{258,288}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,103},{258,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1},{276,304}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,93},{276,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{290,322}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,83},{290,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{306,340}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{306,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{322,358}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,64},{322,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_1__00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{338,370}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{338,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,785},{156,40}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,230},{156,40}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,907},{206,38}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,231},{206,38}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,633},{256,38}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,231},{256,38}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,343},{302,38}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,231},{302,38}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1},{350,38}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,231},{350,38}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1},{368,30}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,237},{368,30}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1},{360,16}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,246},{360,16}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,307},{354,10}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,250},{354,10}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_2__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,307},{354,8}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,250},{354,8}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1},{160,58}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,232},{160,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,163},{190,56}}</string>
                <key>offset</key>
                <string>{-108,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,233},{190,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,815},{214,54}}</string>
                <key>offset</key>
                <string>{-93,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,235},{214,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,591},{240,52}}</string>
                <key>offset</key>
                <string>{-79,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,235},{240,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,325},{264,48}}</string>
                <key>offset</key>
                <string>{-65,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,238},{264,48}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1},{306,40}}</string>
                <key>offset</key>
                <string>{-41,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,245},{306,40}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,307},{350,18}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,262},{350,18}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,373},{358,10}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,267},{358,10}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>light_3__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,373},{356,10}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,267},{356,10}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particle_light.png</string>
            <key>size</key>
            <string>{1410,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691db219939ef2041e7cc4d1100a6eb1:6914616bf36a7482ae07412e53737aae:4a6543b2c4d5264595aeefa243145e28$</string>
            <key>textureFileName</key>
            <string>particle_light.png</string>
        </dict>
    </dict>
</plist>
