<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BombBreakerObject_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BombBreakerObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,693},{69,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{69,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BombBreakerObject_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,323},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BombBreakerObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,747},{69,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{69,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BombBreakerObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BombBreakerObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,323},{73,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,402},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{73,73}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,82},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,82},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,82},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LayeredMatchObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_bule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,837},{61,69}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,881},{61,69}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,881},{61,69}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,818},{61,71}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,753},{63,71}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidDrainerMatchObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,544},{63,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidFillerMatchObject_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,400},{71,77}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidFillerMatchObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,471},{71,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidFillerMatchObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,764},{63,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{63,71}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidFillerMatchObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,686},{65,73}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{65,73}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>LiquidFillerMatchObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,816},{63,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,71}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathGoalObject.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,244},{79,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,244},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,244},{77,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,163},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{69,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{69,73}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{77,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>PathMoverMatchObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,163},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>RainbowObject.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,473},{73,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{73,73}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_bule.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,398},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,548},{73,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{73,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{71,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{71,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,609},{73,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{73,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,678},{71,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{71,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SeekerObject_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,617},{73,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{73,67}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bg_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,548},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>border.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,544},{68,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,9}}</string>
                <key>sourceSize</key>
                <string>{68,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tiles.png</string>
            <key>size</key>
            <string>{243,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775c40324040480b8a21d25f99c228eb:018e63f7b71e815b7ca207a6dcd17519:e7ba09821896df177254bf002289be44$</string>
            <key>textureFileName</key>
            <string>tiles.png</string>
        </dict>
    </dict>
</plist>
